Repository amethyst/amethyst, pull requests merged in 2018-02, with the labels that each got.

#558 feat: Generic animation system
  amethyst_animation/Cargo.toml
  amethyst_animation/src/bundle.rs
  amethyst_animation/src/interpolation.rs
  amethyst_animation/src/lib.rs
  amethyst_animation/src/resources.rs
  amethyst_animation/src/systems/control.rs
  amethyst_animation/src/systems/mod.rs
  amethyst_animation/src/systems/sampling.rs
  amethyst_animation/src/transform.rs
  amethyst_animation/src/util.rs
  amethyst_gltf/src/format/mod.rs
  amethyst_gltf/src/lib.rs
  amethyst_gltf/src/systems.rs
  examples/animation/main.rs
  examples/appendix_a/config.rs
  examples/appendix_a/main.rs
  examples/appendix_a/systems/bounce.rs
  examples/appendix_a/systems/winner.rs
  examples/gltf/main.rs
Labels: project: animation, status: ready, type: improvement

#563 Rename transforms
  amethyst_animation/src/lib.rs
  amethyst_animation/src/skinning/resources.rs
  amethyst_animation/src/skinning/systems.rs
  amethyst_animation/src/systems/control.rs
  amethyst_animation/src/systems/sampling.rs
  amethyst_animation/src/transform.rs
  amethyst_audio/src/systems/audio.rs
  amethyst_core/src/transform/bundle.rs
  amethyst_core/src/transform/components/local_transform.rs
  amethyst_core/src/transform/components/mod.rs
  amethyst_core/src/transform/components/transform.rs
  amethyst_core/src/transform/systems.rs
  amethyst_gltf/src/format/mod.rs
  amethyst_gltf/src/lib.rs
  amethyst_gltf/src/systems.rs
  amethyst_renderer/src/bundle.rs
  amethyst_renderer/src/pass/flat/interleaved.rs
  amethyst_renderer/src/pass/flat/separate.rs
  amethyst_renderer/src/pass/pbm/interleaved.rs
  amethyst_renderer/src/pass/pbm/separate.rs
  amethyst_renderer/src/pass/shaded/interleaved.rs
  amethyst_renderer/src/pass/shaded/separate.rs
  amethyst_renderer/src/pass/shaded_util.rs
  amethyst_renderer/src/pass/util.rs
  book/src/appendices/a_config_files/arena_config.md
  book/src/pong_tutorial/pong_tutorial_02.md
  examples/animation/main.rs
  examples/appendix_a/pong.rs
  examples/appendix_a/systems/bounce.rs
  examples/appendix_a/systems/move_balls.rs
  examples/appendix_a/systems/paddle.rs
  examples/appendix_a/systems/winner.rs
  examples/asset_loading/main.rs
  examples/gltf/main.rs
  examples/material/main.rs
  examples/pong/pong.rs
  examples/pong/systems/bounce.rs
  examples/pong/systems/move_balls.rs
  examples/pong/systems/paddle.rs
  examples/pong/systems/winner.rs
  examples/pong_tutorial_02/pong.rs
  examples/renderable/main.rs
  examples/separate_sphere/main.rs
  examples/sphere/main.rs
  examples/ui/main.rs
  src/app.rs
Labels: project: core, status: ready, type: improvement

#568 Add lines of code badge
  README.md
Labels: project: meta, status: ready, type: improvement

#567 feat: Add rate control to animation system
  amethyst_animation/Cargo.toml
  amethyst_animation/src/lib.rs
  amethyst_animation/src/resources.rs
  amethyst_animation/src/systems/control.rs
  amethyst_animation/src/systems/sampling.rs
  amethyst_animation/src/util.rs
  examples/animation/main.rs
  examples/gltf/main.rs
Labels: project: animation, status: ready

#578 [Ready] Fly camera!
  Cargo.toml
  amethyst_animation/src/lib.rs
  amethyst_animation/src/resources.rs
  amethyst_animation/src/systems/sampling.rs
  amethyst_controls/Cargo.toml
  amethyst_controls/src/bundles.rs
  amethyst_controls/src/components.rs
  amethyst_controls/src/lib.rs
  amethyst_controls/src/systems.rs
  amethyst_core/src/transform/components/local_transform.rs
  amethyst_renderer/src/bundle.rs
  amethyst_renderer/src/cam.rs
  amethyst_renderer/src/lib.rs
  amethyst_renderer/src/mouse.rs
  amethyst_renderer/src/pass/flat/interleaved.rs
  amethyst_renderer/src/pass/flat/separate.rs
  amethyst_renderer/src/pass/mod.rs
  amethyst_renderer/src/pass/pbm/interleaved.rs
  amethyst_renderer/src/pass/pbm/separate.rs
  amethyst_renderer/src/pass/shaded/interleaved.rs
  amethyst_renderer/src/pass/shaded/separate.rs
  amethyst_renderer/src/pass/skinning.rs
  amethyst_renderer/src/pass/util.rs
  amethyst_renderer/src/transparent.rs
  amethyst_utils/src/fly_camera.rs
  amethyst_utils/src/lib.rs
  amethyst_utils/src/mouse.rs
  examples/fly_camera/README.md
  examples/fly_camera/main.rs
  examples/fly_camera/resources/input.ron
  examples/pong/resources/input.ron
  src/lib.rs
Labels: project: debugging, status: ready, type: feature

#580 UI Events. Buttons, hovering, clicks clicks CLICKS!
  Cargo.toml
  amethyst_ui/Cargo.toml
  amethyst_ui/src/bundle.rs
  amethyst_ui/src/event.rs
  amethyst_ui/src/lib.rs
  examples/appendix_a/main.rs
  examples/pong/main.rs
  examples/renderable/main.rs
  examples/ui/main.rs
Labels: project: input, project: rendering, status: ready, type: feature
