Repository amethyst/amethyst, pull requests merged in 2018-04, with the labels that each got.

#611 fix: Rest state for animation needs to be controllable.
  amethyst_animation/src/bundle.rs
  amethyst_animation/src/lib.rs
  amethyst_animation/src/resources.rs
  amethyst_animation/src/systems/control.rs
  amethyst_renderer/src/formats/texture.rs
Labels: project: animation, status: ready, type: bug

#626 Remove another unwrap
  amethyst_animation/src/systems/control.rs
Labels: project: animation, status: ready, type: bug, type: improvement

#627 Fix critical bug in asset handle deletion
  amethyst_assets/src/storage.rs
Labels: project: assets, status: ready, type: bug

#630 Formatting with newest rustfmt-preview
  amethyst_assets/src/source/dir.rs
  amethyst_assets/src/storage.rs
Labels: project: meta, status: ready, type: improvement

#633 READMEs extended with examples
  README.md
  examples/README.md
  examples/assets/img/asset_loading.png
  examples/assets/img/gltf.png
  examples/assets/img/material.png
  examples/assets/img/pong.png
  examples/assets/img/renderable.png
  examples/assets/img/sphere.png
  examples/assets/img/ui.png
  examples/assets/img/window.png
Labels: project: docs, status: ready, type: improvement

#645 Fix VisibilitySystem
  amethyst_renderer/src/visibility.rs
Labels: project: rendering, status: discussing

#652 Add temp seizure warning
  examples/ui/main.rs
Labels: project: ui, status: ready, type: bug

#642 Unecessary asset loading
  amethyst_assets/src/storage.rs
Labels: project: assets, status: ready, type: improvement

#644 feat: Deferred start animation
  amethyst_animation/src/bundle.rs
  amethyst_animation/src/lib.rs
  amethyst_animation/src/resources.rs
  amethyst_animation/src/systems/control.rs
  amethyst_animation/src/systems/sampling.rs
  amethyst_animation/src/util.rs
  amethyst_gltf/src/systems.rs
  examples/README.md
  examples/animation/main.rs
  examples/gltf/main.rs
Labels: project: animation, status: ready, type: improvement

#666 Document the works of the legendary @Rhuagh
  docs/CHANGELOG.md
Labels: project: meta, status: ready, type: task

#659 feat: Implement traits needed to use Transform in rhusics
  amethyst_assets/src/storage.rs
  amethyst_core/src/transform/components/local_transform.rs
  examples/pong_tutorial_03/main.rs
  examples/pong_tutorial_03/systems/paddle.rs
  examples/sprites/main.rs
Labels: project: core, status: ready, type: feature

#674 Upgrade to specs alpha4
  amethyst_animation/src/bundle.rs
  amethyst_core/Cargo.toml
  amethyst_core/src/transform/bundle.rs
  amethyst_core/src/transform/systems.rs
  amethyst_ui/src/bundle.rs
  examples/animation/main.rs
  examples/gltf/main.rs
  examples/renderable/main.rs
  examples/sprites/main.rs
  examples/ui/main.rs
Labels: pri: critical, project: meta, status: ready, type: bug

#683 fix: Update specs after critical bugfix
  amethyst_core/Cargo.toml
Labels: pri: critical, project: core, project: meta, status: ready, type: bug
